<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registrer.css">
    <script src="https://kit.fontawesome.com/f67abbd570.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    
    <title>Registro</title>
</head>
<body>
    <header>
        
            <div class="img__busqueda">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="buscador">
                    <form action="">
                        <input type="text" placeholder="Buscar productos, marcas">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    
                </div>
                <p class="compra_2" ><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p>
            </div>
                <p class="compra" ><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </p>
                <nav class="nav">
                <div class="header__navegador">
                    <ul class="nav__ul__1">
                        <li type="none"><a href="">Ofertas</a></li>
                        <li type="none"><a href="">Tiendas Oficiales</a></li>
                        <li type="none"><a href="">Vender</a></li>
                        <li type="none"><a href="">Ayuda</a></li>
                    </ul>
                    <ul class="nav__ul__2">
                        <li type="none"><a href="/css/registrer.html">Creá tu cuenta</a></a><i class="fa-solid fa-address-card"></i></li>
                        <li type="none"><a href="/css/login.html">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>  </li>
                        <li type="none"><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                        
                    </ul>
                </div>
                    <div class="nav__burger-menu">
                        <i class="fas fa-bars"></i>
                        </div>
                </nav>
                <div class="banner">
                    <img width="100%" height="100%" src="/images/img-home-banner.jpg" alt="">
                </div>
        
            
    </header>
    <main>
        <form action="">
            <div class="container">
              <h2>Registrate</h2>
              <div class="formulario">
              <label for="Nombre"><input type="text" placeholder="Nombre y apellido" name="Nombre" id="Nombre" required></label>
              
              <label for="Nombre"><input type="text" placeholder="Nombre de usuario" name="Nombre" id="Nombre" required></label>
              
              <label for="email"><input type="text" placeholder="Email" name="email" id="Nombre" required></label>

              <h3>Fecha de nacimiento</h3>
              <label for="Nombre"><input type="text" placeholder="Fecha de nacimiento" name="Nombre" id="Nombre" required></label>
              <label for="Nombre"><input type="text" placeholder="Domicilio" name="Nombre" id="Nombre" required></label>
              
              <label for="email"></label>
              <h3>Perfil de usuario</h3>
              <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Comprador</form>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Vendedor</form>
            <h3>Intereses</h3>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Electro</form>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Hogar</label></form>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Jugueteria</label></form>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Moda</label></form>
            <form action=""><label><input type="checkbox" name="Pescar" value="Pescar"> Vida sana</label></form>
        <div class="formulario__contraseña">
            <label for="Nombre"><input type="POST" placeholder="Foto de usuario" name="Nombre" id="Nombre" required></label>
            
            <label for="Nombre"><input type="password" placeholder="Contraseña" name="Nombre" id="Nombre" required></label>
            
            <label for="Nombre"> <input type="password" placeholder="Confirmar contraseña" name="Nombre" id="Nombre" required></label>
        </div>
        <div class="formulario__buttom">
            <input type="submit" value="Enviar">
            <input type="submit" value="Borrar">
        </div>
            </div>
            
          </form>
        
    
    
            
        
    </main>
    <footer>
        
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="titulo2">Pagá con tarjeta o en efectivo</h4>
                <p class="descripcion"> 
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
    
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h4 class="titulo2">Envío gratis desde $ 2.500</h4>
                <p class="descripcion">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
    
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="titulo2">Seguridad, de principio a fin</h4>
                <p class="descripcion">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
    
            </section>
            <section>
                <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
            </section>
        
    </footer>
</body>