header{
background-color: #EAC926;
}

header .compra{
    text-align: center;
}

body{
    font-family: 'Roboto';
}


header .nav__ul{
    text-decoration: none;
    color: black;
    padding: 0%;
}
header .nav__ul li a{
    color: black;
    padding: 0%;
    text-decoration: none;
}


header .nav__burger-menu{
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: auto;
    font-size: 25px;

}


main{
    width: 100%;
    background-color: #ebebeb;;
    
}
main img{
    width: 100%;
}


main .titulo{
    text-align: center;
    font-size: 24px;
    margin: -4px;

}
main .valor{
    font-size: 18px;
    margin: 0px;
}
main .descuento{
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
}
main .name{
    font-size: 16px;
}

main .caja__cafetera{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .caja__cafetera2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .tv{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .tv2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .mac{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .mac2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .s10{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .s102{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main i{
    color: #39b54a;
}

footer{
    margin: 10px;
}

footer i{
    color: #1259c3;
    text-align: center;
    margin-left: 125px;
    font-size: 2em;
    margin-top: 2em;
    


}
footer .titulo2{
    text-align: center;
    margin: 0 auto;
}
footer .descripcion{
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}
footer .copy{
    padding: 0%;
    font-size: 10px;
}


@media screen and (max-width: 360px){
    header .nav__ul{
        display: none;
    }
    
    main .name{
        display: none;
    }
   
}

@media screen and (min-width: 361px) {
  
    header .nav__burger-menu{
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
   
    
    
    }

/*@media screen and (min-width: 769px) and (max-width: 1080px){
    header .nav__burger-menu{
        display: none;
    }
    
    
    }

@media screen and (min-width: 360x) {
    main .name{
        display: none;
    }
    header .nav__ul{
        display: none;
    }
    }
    
    
    



