header{
background-color: #EAC926;

}

header .compra{
    text-align: center;
    margin: 7%;
}

body{
    font-family: 'Roboto';
}
.compra_2{
    display: none;
}
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    }
header .img__busqueda{
    display: flex;
    justify-content: space-between;
} 
header .logo{
    width: 50%;
}

header .nav__ul__1{
    text-decoration: none;
    color: black;
    padding: 0%;
}
header .nav__ul__2{
    text-decoration: none;
    color: black;
    padding: 0%;
}
header .nav__ul li a{
    color: black;
    padding: 0%;
    text-decoration: none;
}
header .nav__ul__1 li a{
    color: black;
    padding: 0%;
    text-decoration: none;
}
header .nav__ul__2 li a{
    color: black;
    padding: 0%;
    text-decoration: none;
}



header .nav__burger-menu{
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-left: 44%;
    margin-bottom: 5%;
    font-size: 25px;

}


main{
    width: 100%;
    background-color: #ebebeb;
    justify-content: center;
    
}
main img{
    width: 100%;
}


main .titulo{
    text-align: center;
    font-size: 24px;
    margin: -4px;

}
main .valor{
    font-size: 18px;
    margin: 0px;
}
main .descuento{
    font-size: 16px;
    color: #39b54a;
    margin: 0px;
}
main .name{
    font-size: 16px;
}

main .caja__cafetera{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .caja__cafetera2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .tv{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .tv2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .mac{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .mac2{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .s10{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main .s102{
    padding: 15px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin: 15px;
}
main i{
    color: #39b54a;
}

main .p_cafetera{
    display: flex;
    justify-content: space-between;
}
main .descuento{
    width: 70%;
}
main .valor{
    width: 30%;
}
main .p_cafetera_2{
    display: flex;
    justify-content: space-between;
}
main .p_mac{
    display: flex;
    justify-content: space-between;
}
main .p_mac_2{
    display: flex;
    justify-content: space-between;
}
main .p_s10{
    display: flex;
    justify-content: space-between;
}
main .p_s102_2{
    display: flex;
    justify-content: space-between;
}
main .p_tv{
    display: flex;
    justify-content: space-between;
}
main .p_tv_2{
    display: flex;
    justify-content: space-between;
}


footer{
    margin: 10px;
    text-align: center;
}

footer i{
    color: #1259c3;
    font-size: 2em;
    margin-top: 2em;
    


}
footer .titulo2{
    text-align: center;
    margin: 0 auto;
}
footer .descripcion{
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}
footer .copy{
    padding: 0%;
    font-size: 10px;
    padding-left: 0%;
}




@media screen and (min-width: 320px) {
    .header__navegador{
        display: none;
    }
   
   
    
    
    }

@media screen and (min-width: 768px){
    .nav__ul__1{
        display: flex;
        justify-content: space-between;
        width: 35%;
        margin: 15px;
        
    }
   
    .nav__ul__2{
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 15px;
        
    }
    
    .header__navegador{
        display: flex;
        justify-content: space-between;
        
    }
    header .nav__burger-menu{
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .img__busqueda{
        display: flex;
        justify-content: space-around;
        padding: 5%;
        
    }
    .logo{
        margin-right: 3%;
    }
    .buscador{
        margin-right: 3%;
    }

    .compra_2{
        display: block;
        margin-right: 1%;
    }
    .compra{
        display: none;
        
    }
    .cafetera__mac{
        display: flex;
        justify-content: space-between;
    }
    .cafetera__mac__2{
        display: flex;
        justify-content: space-between;
    }
    .celular__tv{
        display: flex;
        justify-content: space-between;
    }
    .celular__tv__2{
        display: flex;
        justify-content: space-between;
    }
    .caja__cafetera{
        height: 93%;
        width: 97%;
    
    }
    .caja__cafetera2{
        height: 93%;
        width: 97%;
    
        
    
}
.footer i{
            
    margin-left: 80%;
    
    


}
}

    
@media screen and (min-width: 1024px){
.articulos__vista{
    display: flex;
    
}
.articulo__oferta{
    display: flex;
}
.caja__cafetera2{
    height: 91%;

}
.caja__cafetera{
    height: 91%;

}
}